// Заголовки, загальні БЕМ блоки та інше...
input,
button,
select {
   border: none;
   outline: none;
   cursor: pointer;
}
.search-input {
   padding: 18px 15px 18px 45px;
   border: 1px solid $stroke;
   color: $black;
   @include adaptiveValue("width", 567, 235);
   &:focus {
      caret-color: $red;
      background: url("@img/icons/small/search.svg") no-repeat;
      background-position: 15px 50%;
   }
}
.filter__btn {
   color: $grayText;
   font-weight: 500;
   line-height: 140%;
   padding: 13px 24px;
   border: 1px solid $stroke;
   @include adaptiveValue("font-size", 16, 12);
   @media (max-width: $mobile) {
      padding: 10px;
   }

   &_icon {
      display: flex;
      align-items: center;
      gap: 5px;
   }
   &.active {
      color: $mainColor;
      background: $black;
   }
}
.contacts-input {
   color: $black;
   border: 1px solid $stroke;
   font-weight: 500;
   line-height: 140%;
   transition: all 0.5s ease;
   padding: 20.5px 15px 5.5px;
   @include adaptiveValue("font-size", 16, 14);

   &:focus {
      border-bottom: 1px solid $red;
      caret-color: $red;
   }

   &__title {
      color: $grayText;
      position: absolute;
      top: 3px;
      left: 20px;
      line-height: 140%;
      font-weight: 500;
      @include adaptiveValue("font-size", 14, 12);
   }
}
