.find {
   @include adaptiveValue("padding-bottom", 130, 60);
   &-wrapper {
      display: grid;
      align-items: center;
      grid-template-columns: 1.5fr 1fr;
      @media (max-width: $mobile) {
         grid-template-columns: 1fr;
      }
   }
   &-desc {
      &__item {
         color: $grayText;
         font-weight: 400;
         margin: 30px 0 30px;
         line-height: 150%;
         @include adaptiveValue("width", 574, 290);
         @include adaptiveValue("font-size", 18, 14);
         @media (max-width: $mobile) {
            margin: 15px 0 25px;
         }
      }
      &-btns {
         display: flex;
         gap: 10px;
         &__item {
            padding: 15px 30px;
            line-height: 150%;
            border: 1px solid $stroke;
            color: $black;
            transition: all 0.5s ease;
            font-weight: 500;
            @include adaptiveValue("font-size", 18, 14);
            @media (max-width: $mobile) {
               padding: 15px 20px;
            }
            &_second {
               background: $red;
               color: $mainColor;
               font-weight: 600;
            }
            &:hover {
               color: $red;
               background: unset;
               border: 1px solid $red;
            }
         }
      }
   }
   &-img {
      margin: 0 auto;
      img {
         @include adaptiveValue("width", 401, 220);
      }
   }
}
