//====================================================================================================
.footer {
   background: $black;
   @include adaptiveValue("padding-top", 70, 50);

   &__wrapper {
      display: flex;
      justify-content: space-around;
      @media (max-width: $tablet) {
         flex-direction: column;
         gap: 40px;
      }
      a {
         transition: color 0.5s ease;
         &:hover {
            color: $red;
         }
      }
   }
   &-logo {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      @media (max-width: $tablet) {
         margin: 0 auto;
      }
      @media (max-width: $mobileSmall) {
         margin: 0;
      }
      img {
         width: fit-content;
      }
      &__desc {
         display: flex;
         flex-direction: column;
         gap: 10px;
         line-height: 140%;
         font-weight: 400;
         color: $placeholder;
         @include adaptiveValue("font-size", 14, 12);
         @media (max-width: $tablet) {
            justify-content: center;
            flex-direction: unset;
            align-items: center;
         }
         @media (max-width: $mobileSmall) {
            justify-content: space-between;
         }
      }
   }
   &-navigation {
      display: flex;
      @include adaptiveValue("gap", 80, 10);
      @media (max-width: $tablet) {
         justify-content: center;
      }
      @media (max-width: $mobileSmall) {
         justify-content: space-between;
      }
      &-block {
         &__title {
            line-height: 150%;
            color: $placeholder;
            font-weight: 500;
            @include adaptiveValue("font-size", 18, 14);
            @include adaptiveValue("margin-bottom", 25, 15);
         }
         &__list {
            display: flex;
            flex-direction: column;
            font-weight: 400;
            line-height: 140%;
            @include adaptiveValue("gap", 20, 10);
            @include adaptiveValue("font-size", 16, 12);
            span {
               color: $placeholder;
            }
         }
      }
   }
   &-contact {
      @include adaptiveValue("width", 310, 290);
      @media (max-width: $tablet) {
         margin: 0 auto;
      }
      @media (max-width: $mobileSmall) {
         margin: 0;
      }
      &-phone {
         @include adaptiveValue("margin-bottom", 25, 30);
         @media (max-width: $tablet) {
            display: flex;
            justify-content: space-between;
         }
         &__title {
            margin-bottom: 3px;
            line-height: 125%;
            font-weight: 500;
            @include adaptiveValue("font-size", 22, 17);
         }
         &__call {
            display: flex;
            align-items: center;
            gap: 5px;
            @include adaptiveValue("font-size", 18, 12);
         }
      }
      &-links {
         display: flex;
         justify-content: space-between;
         align-items: center;
         border-bottom: 1px solid $stroke;
         @include adaptiveValue("padding-bottom", 25, 30);
         img {
            @include adaptiveValue("width", 25, 20);
            @include adaptiveValue("height", 25, 20);
         }
         i {
            &::before {
               transition: all 0.5s ease;
            }
         }
         i:hover {
            &::before {
               color: #fff;
            }
         }
      }
      &-graffic {
         display: flex;
         flex-wrap: wrap;
         @include adaptiveValue("margin-top", 25, 30);
         @include adaptiveValue("gap", 25, 15);
         @media (max-width: $tablet) {
            text-align: center;
            justify-content: center;
         }
         @media (max-width: $mobileSmall) {
            text-align: unset;
            justify-content: unset;
         }

         &__block {
            &:first-of-type {
               width: 100%;
            }
            p {
               line-height: 150%;
               font-weight: 500;
               @include adaptiveValue("font-size", 18, 14);
            }
            h5 {
               line-height: 140%;
               color: $placeholder;
               font-weight: 400;
               @include adaptiveValue("font-size", 16, 12);
            }
         }
      }
   }
   &__desc {
      background: #111014;
      @include adaptiveValue("padding-top", 10, 15);
      @include adaptiveValue("padding-bottom", 10, 15);
      @include adaptiveValue("margin-top", 70, 50);
      span {
         display: block;
         text-align: center;
         line-height: 140%;
         font-weight: 500;
         @include adaptiveValue("font-size", 14, 12);
      }
   }
}
//====================================================================================================
