.sub-menu-open main > .overlay {
   display: block;
   top: 0;
   opacity: 0.7;
   @media (max-width: $tablet) {
      display: none;
   }
}
main {
   position: relative;
}
.overlay {
   z-index: 10;
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   background: #1c1b22;
   height: 100%;
   display: none;
   &.active {
      display: block;
      opacity: 0.7;
   }
}
.header {
   padding: 15px 0;
   position: relative;

   &-category {
      @media (max-width: $tablet) {
         display: none;
      }
      &__wrapper {
         display: flex;
         align-items: center;
         @include adaptiveValue("gap", 20, 0);

         li {
            color: $black;
            transition: color 0.5s ease;

            &:hover {
               color: $red;
            }

            span {
               color: $grayText;
            }
         }
      }
   }
   &-search {
      display: flex;
      gap: 10px;
      position: relative;
      &__item {
         position: relative;
         .search-input:focus + img {
            display: none;
         }
         img {
            position: absolute;
            left: 25px;
            top: 50%;
            transform: translate(-50%, -50%);
         }
      }
      &__list {
         display: none;
         background: $mainColor;
         position: absolute;
         top: 56px;
         width: 100%;
         z-index: 2;
         @include adaptiveValue("padding", 30, 15);
         .search-list {
            &-wrapper {
               display: flex;
               flex-direction: column;
               overflow: auto;
               max-height: 200px;
               &::-webkit-scrollbar {
                  width: 3px;
                  /* Ширина вертикального скролу */
               }

               /* Стилі для кнопки скролу */

               &::-webkit-scrollbar-thumb {
                  background: $red;
                  /* Колір кнопки скролу */
               }

               /* Стилі для фону скролу */

               &::-webkit-scrollbar-track {
                  background: $stroke;
                  /* Колір фону скролу */
               }

               /* Прибрати дефолтні стрілки */

               &::-webkit-scrollbar-button {
                  display: none;
               }
               @include adaptiveValue("padding-right", 20, 15);
               @include adaptiveValue("gap", 15, 20);

               .search-block {
                  display: grid;
                  grid-template-columns: 100px 1fr;
                  gap: 20px;
                  align-items: center;
                  @media (max-width: $tablet) {
                     align-items: start;
                  }
                  @media (max-width: $mobile) {
                     grid-template-columns: 60px 1fr;
                     gap: 15px;
                  }
                  &-img {
                     display: flex;
                     align-items: center;
                     justify-content: center;
                     background: url("@img/catalog/bg-product.png") no-repeat;
                     @include adaptiveValue("width", 100, 60);
                     @include adaptiveValue("height", 100, 60);
                     &:hover img {
                        opacity: 0.7;
                     }
                     img {
                        transition: all 0.5s ease;
                        @include adaptiveValue("width", 69, 42);
                        @include adaptiveValue("height", 60, 36);
                     }
                  }
                  &-desc {
                     display: flex;
                     flex-direction: column;
                     gap: 10px;
                     &__info {
                        color: $grayText;
                        line-height: 140%;
                        font-weight: 500;
                        @include adaptiveValue("font-size", 16, 12);
                     }
                     &__price {
                        line-height: 150%;
                        display: flex;
                        gap: 15px;
                        &_new {
                           font-weight: 500;
                           color: $red;
                           @include adaptiveValue("font-size", 18, 14);
                        }
                        &_old {
                           color: #8e8d91;
                           font-weight: 400;
                           text-decoration: line-through;
                           @include adaptiveValue("font-size", 14, 12);
                        }
                     }
                  }
               }
            }
         }
      }
      &__cart {
         background: $red;
         position: relative;
         @include adaptiveValue("padding", 16, 12.5);
         span {
            background: $black;
            font-size: 14px;
            font-weight: 600;
            border-radius: 100px;
            padding: 3px 6px;
            position: absolute;
            top: 8px;
            right: 7px;
         }
      }
   }
   .sub-menu-open &-phone {
      flex-direction: unset;
      align-items: center;
      gap: 20px;
   }
   &-phone {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      @media (max-width: $tablet) {
         flex-direction: unset;
         align-items: center;
         justify-content: space-between;
      }
      .sub-menu-open &__wrapper {
         display: flex;
         gap: 20px;
         align-items: center;
      }
      &__wrapper {
         @media (max-width: $tablet) {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 toRem(15);
         }
      }
      .sub-menu-open &__title {
         display: block;
         font-size: toRem(18);
      }
      &__title {
         color: #313b45;
         line-height: calc(140 / 100 * 24px);
         @include adaptiveValue("font-size", 24, 17);
         @media (min-width: $tablet) {
            display: none;
         }
         @media (max-width: $tablet) {
            color: $black;
         }
      }
      &__link {
         display: flex;
         gap: 5px;
         align-items: center;
         a {
            color: $red;
            transition: color 0.5s ease;
            @include adaptiveValue("font-size", 16, 12);
            @media (max-width: $tablet) {
               font-weight: 600;
            }
            &:hover {
               color: $black;
            }
         }
      }
   }
}
.sub-menu-open .preheader {
   background: $bgGray;
}
.preheader {
   display: flex;
   justify-content: space-between;
   align-items: center;
   font-size: 16px;
   &-block {
      flex-grow: 1;
      @media (max-width: $tablet) {
         padding: toRem(30) toRem(15);
      }
      &__list {
         display: flex;
         gap: 20px;
         @media (max-width: $tablet) {
            gap: toRem(10);
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
         }
         a {
            color: $grayText;
            font-weight: 400;
            transition: all 0.5s ease;
            &:hover {
               text-decoration: underline;
            }
         }
      }
   }
   &-auth {
      display: flex;
      color: $black;
      gap: 10px;
      font-weight: 500;
      @media (max-width: $tablet) {
         display: none;
      }

      a {
         padding: 10px 15px;
         background: $bgGray;
         transition: all 0.5s ease;

         &:hover {
            background: $black;
            color: $mainColor;
         }
      }
   }
}
.header-main {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-top: 15px;
   font-size: 16px;
   font-weight: 500;
   @media (max-width: $tablet) {
      justify-content: center;
   }
   .header-phone__title {
      display: none;
   }
   &__logo {
      transition: all 0.5s ease;
      img {
         @include adaptiveValue("width", 175, 112);
         @include adaptiveValue("height", 25, 16);
      }
      &:hover {
         opacity: 0.5;
      }
   }
}
.select {
   &__body {
      font-size: 16px;
      font-weight: 500;
   }
   &__value {
      padding: 10px 15px;
      gap: 10px;
      border: 1px solid #e8e8e8;
      align-items: center;
      height: max-content;
      &::after {
         flex: unset;
         background: url("@img/header/arrow-down.svg") no-repeat center;
         width: 10px;
         height: 8px;
         transition: all 0.5s ease;
         align-self: unset;
      }
   }
   &__option {
      transition: color 0.5s ease;
      margin-bottom: 10px;
      &:last-of-type {
         margin-bottom: unset;
      }
      &:hover {
         color: $red;
         background: unset;
      }
   }
   &__options {
      border: 1px solid #e8e8e8;
      border-top: unset;
      padding: 5px 0;
   }
   &__content {
      transition: color 0.5s ease;
   }
   &__title {
      transition: background 0.5s ease;
      border: unset;
   }
   &__title:hover &__content {
      color: $red;
   }
   &__title:hover &__value::after {
      background: url("@img/header/arrow-down-red.svg") no-repeat center;
   }
}

//Header-catalog
.catalog-header {
   position: relative;
   color: #fff;
   // .catalog-header__container
   &__container {
   }
   // .catalog-header__menu
   &__menu {
   }
   @media (max-width: $mobileSmall) {
      padding: 20px 0;
   }
}
.menu-catalog {
   @media (max-width: $tablet) {
      position: fixed;
      top: 0;
      left: -100%;
      width: 100%;
      height: 100%;
      background: $mainColor;
      overflow: auto;
      padding: toRem(25) toRem(15) toRem(50) toRem(15);
      transition: left 0.3s ease 0s;
      .catalog-open & {
         left: 0;
         z-index: 6;
      }
   }
   // .menu-catalog__list
   &__list {
      display: flex;
      column-gap: 20px;
      justify-content: space-between;
      @media (max-width: $tablet) {
         flex-direction: column;
      }
   }
   // .menu-catalog__item
   &__item {
   }
   &__link {
      @media (max-width: 1400px) {
         flex-direction: column;
      }
      @media (max-width: $tablet) {
         flex-direction: unset;
      }
   }
   // .menu-catalog__link
   &__link,
   .sub-menu-catalog__link-category {
      position: relative;
      transition: color 0.3s ease 0s;
      color: $black;
      padding: 10px 0;
      font-size: toRem(16);
      font-weight: 500;
      line-height: 140%;
      display: flex;
      gap: 5px;
      @media (max-width: $tablet) {
         background: url("@img/header/icon/gray-arrow.svg") no-repeat center
            right;
         font-size: toRem(14);
      }
      span {
         color: $grayText;
      }
      &:hover {
         color: $red;
         &::before {
            display: block;
         }
      }
      &::before {
         content: "";
         display: none;
         background: url("@img/icons/small/line.svg") no-repeat;
         width: 10px;
         position: absolute;
         height: 13px;
         transition: all 0.5s ease;
         left: -15px;
         bottom: 30px;
      }
      &[data-parent] {
         // &::before {
         //    // @extend %ic;
         //    // @extend ._icon-arrow-bottom;
         //    display: none;
         //    @media (max-width: $tablet) {
         //       transform: translateY(toRem(5)) rotate(-90deg);
         //       display: block;
         //       font-size: toRem(10);
         //    }
         // }
         @media (max-width: $tablet) {
            display: flex;
            width: 100%;
         }
      }
      @media (min-width: $tablet) {
         justify-content: center;
         align-items: center;
         text-align: center;
         min-height: toRem(70);
      }
      &::after {
         content: "";
         opacity: 0;
         visibility: hidden;
         position: absolute;
         bottom: -2px;
         left: toRem(10);
         height: 12px;
         z-index: 20;
         // background-color: $mainOrange;
         width: calc(100% - toRem(20));
         transition: all 0.3s ease 0s;
      }
      @media (any-hover: hover) {
         &:hover {
            &::after {
               opacity: 1;
               visibility: visible;
            }
         }
      }
      @media (min-width: $tablet) {
         &._sub-menu-active {
            color: $red;
            &::before {
               content: "";
               display: block;
               background: url("@img/icons/small/line.svg") no-repeat;
               width: 10px;
               position: absolute;
               height: 13px;
               transition: all 0.5s ease;
               left: -15px;
               bottom: 30px;
            }
            &::after {
               opacity: 1;
               visibility: visible;
               background: url("@img/icons/small/ygol.svg") no-repeat center;
            }
         }
      }
      @media (max-width: $tablet) {
         @include adaptiveValue("font-size", 30, 14);
      }
   }
   // .menu-catalog__sub-menu
   html.sub-menu-open &__sub-menu {
      display: block;
   }
   .sub-menu-open .page {
      background: $black;
      opacity: 0.7;
   }
   &__sub-menu {
      width: 100%;
      left: 0;
      background-color: $mainColor;
      position: absolute;
      z-index: 11;
      border-top: 1px solid $bgGray;
      display: none;
   }
   &__back,
   .sub-menu-catalog__back {
      display: none;
      @media (max-width: $tablet) {
         display: inline-flex;
         color: $red;
         align-items: center;
         gap: 10px;
         padding: toRem(10) 0;
         @include adaptiveValue("font-size", 30, 12);
         img {
            transform: rotate(90deg);
         }
         &::before {
            margin: 0px em(13, 30) 0px 0px;
         }
      }
   }
}
.sub-menu-catalog {
   @media (max-width: $tablet) {
      position: fixed;
      top: 0;
      left: -100%;
      width: 100%;
      height: 100%;
      overflow: auto;
      background-color: $mainColor;
      padding: toRem(25) toRem(15) toRem(50) toRem(15);
      transition: left 0.3s ease 0s;
      .sub-menu-open & {
         left: 0;
         z-index: 6;
      }
   }
   &__back {
      display: none;
      @media (max-width: $tablet) {
         display: inline-flex;
         align-items: center;
         color: $red;
         @include adaptiveValue("font-size", 30, 12, 992, 320, 1);
         &:not(:last-child) {
            margin-bottom: em(65, 30);
         }
         &::before {
            margin: 0px em(13, 30) 0px 0px;
         }
      }
   }
   // .sub-menu-catalog__block
   &__block {
      display: none;
      @for $var from 1 to 6 {
         &_#{$var} {
            //justify-content: start;
            grid-template-columns: repeat($var, minmax(auto, 1fr));
         }
      }
   }
   &__block._sub-menu-open {
      display: grid;
      @media (max-width: $tablet) {
         display: block;
      }
   }
   &__container {
      padding: 0px toRem(10);
      color: $black;
   }
   // .sub-menu-catalog__category
   &__category {
      font-size: toRem(16);
      line-height: math.div(20, 16);

      @media (min-width: $tablet) {
         font-weight: 700;
         padding: toRem(30) toRem(15) toRem(30) 0;
      }
      @media (max-width: $tablet) {
         &:not(:last-child) {
            margin-bottom: em(25, 16);
         }
      }
   }
   // .sub-menu-catalog__list
   &__list {
      display: flex;
      flex-direction: column;
      padding: toRem(15) 0 toRem(15) 0;
      position: relative;
      border-right: 1px solid $bgGray;
      @media (max-width: $tablet) {
         display: none;
      }
      &_mobile {
         position: absolute;
         top: 0;
         left: -100%;
         width: 100%;
         height: 100%;
         background: $mainColor;
         z-index: 1;
         overflow: auto;
         display: flex;
         transition: all 0.3s ease;
         padding-right: 15px;
         button {
            display: flex;
            align-items: center;
            gap: 10px;
            color: $red;
            padding: 10px 0 20px 15px;
            font-size: 12px;
            font-weight: 500;
            img {
               transform: rotate(90deg);
            }
         }
         &._sub-menu-open {
            left: 0;
         }
         li {
            background: url(../img/header/icon/gray-arrow.svg) no-repeat center
               right;
         }

         .sub-menu-catalog__item ul {
            transition: all 0.5s ease;
         }
         .sub-menu-catalog__item ul li > ul {
            transition: all 0.5s ease;
            right: unset;
            left: -100%;
         }
         .sub-menu-catalog__item.open > ul {
            right: 0;
            background: $mainColor;
            z-index: 2;
            height: calc(100vh - -140px);
            padding-right: 15px;
         }
         .sub-menu-catalog__item ul.open li > ul {
            left: 0;
            background: $mainColor;
            z-index: 3;
            height: 100vh;
            padding-right: 15px;
         }

         // .sub-menu-catalog__item:hover > ul {
         //    right: 0;
         //    background: $mainColor;
         // }
         // .sub-menu-catalog__item ul li:hover ul {
         //    right: 0;
         //    background: $mainColor;
         // }
      }

      li {
         transition: all 0.3s ease;
         color: $black;
         font-size: 16px;
         font-weight: 500;
         line-height: 140%;
         cursor: pointer;
         padding: 12px 20px;
         &:hover {
            color: $red;
            background: $bgGray;
         }
      }
   }
   // .sub-menu-catalog__item
   &__item {
      ul {
         display: none;
         position: absolute;
         right: -100%;
         width: 100%;
         height: 100%;
         top: 0;
         padding-top: 15px;
         border-right: 1px solid $bgGray;
         li ul {
            right: -100%;
            top: 0;
            height: 100%;
            border-right: unset;
         }
         li:hover > ul {
            display: block;
         }
      }
      &:hover > ul {
         display: block;
      }
   }
   // .sub-menu-catalog__link
   &__link {
      font-size: toRem(16);
      line-height: math.div(20, 16);
      transition: all 0.5s ease;
   }
   // .sub-menu-catalog__link-category
   &__link-category {
      @include adaptiveValue("font-size", 30, 20, 992, 320);
   }
   // .sub-menu-catalog__footer
   &__footer {
      padding: toRem(30) toRem(15) toRem(30) 0;
      @media (max-width: $tablet) {
         display: none;
      }
   }
   // .sub-menu-catalog__all
   &__all {
      font-size: toRem(16);
      // color: $mainOrange;
      @media (any-hover: hover) {
         &:hover {
            text-decoration: underline;
         }
      }
   }
}
//Burger

.menu {
   display: none;
   // .menu__body
   &__wrapper {
      display: flex;
      align-items: center;
      gap: 5px;
   }
   &__btn {
      border: 1px solid $stroke;
      padding: 13.5px;
      .menu-open &:last-of-type {
         display: none;
      }
   }
   &__body {
      left: -100%;
      @media (max-width: $tablet) {
         display: flex;
         flex-direction: column;
         padding-bottom: toRem(24);
         max-height: calc(100vh - 140px);
         position: fixed;
         width: 100%;
         height: 100%;
         top: 145px;
         overflow: auto;
         background-color: $mainColor;
         transition: left 0.3s ease 0s;
         z-index: 4;
         .menu-open & {
            left: 0;
            &::before {
               left: 0;
            }
         }
      }
   }
   @media (max-width: $tablet) {
      flex: 1 1 auto;
      display: flex;
      justify-content: flex-end;
      gap: 10px;
   }
}
.menu-open .icon-menu {
   background: $black;
}
.icon-menu {
   @media (max-width: $tablet) {
      background: $bgGray;
      display: block;
      position: relative;
      width: 45px;
      height: 45px;
      cursor: pointer;
      span,
      &::before,
      &::after {
         content: "";
         transition: all 0.3s ease 0s;
         left: 50%;
         position: absolute;
         width: 14px;
         height: 2px;
         background-color: $red;
         transform: translate(-50%, -50%);
      }
      &::before {
         top: 12px;
      }
      &::after {
         bottom: 12px;
      }
      span {
         top: calc(50% - 1px);
      }
      .menu-open & {
         span {
            transform: scale(0);
         }
         &::before {
            transform: rotate(-45deg);
            top: calc(50% - 1px);
            background-color: $mainColor;
            left: 38%;
         }
         &::after {
            transform: rotate(45deg);
            bottom: calc(50% - 1px);
            background-color: $mainColor;
            left: 38%;
         }
      }
   }
}
.menu-top-header {
   // ..menu-top-header__list
   &__list {
      display: flex;
      border-top: 1px solid $stroke;
      border-bottom: 1px solid $stroke;
      @include adaptiveValue("column-gap", 60, 20);
      @media (max-width: $tablet) {
         flex-direction: column;
         padding: toRem(30) toRem(15);
      }
   }
   // ..menu-top-header__item
   &__item {
      &_catalog {
         @media (min-width: $tablet) {
            display: none;
         }
      }
   }
   // ..menu-top-header__link
   &__link {
      font-size: toRem(17);
      color: $black;
      font-weight: 500;
      line-height: 125%;
      span {
         color: $grayText;
      }
      @media (any-hover: hover) {
         &:hover {
            text-decoration: underline;
         }
      }
      &_catalog {
         display: flex;
         align-items: center;
         &::before {
            flex: 0 0 14px;
            height: 14px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: toRem(8);
            transform: translateY(toRem(-2)) rotate(-90deg);
            @media (max-width: $tablet) {
               display: none;
            }
         }
      }
   }
   @media (max-width: $tablet) {
      display: none;
   }
}
